{% extends "base.twig" %}

{% block title %}Home{% endblock %}

{% block body %}

    <header>
        <div class="navbar navbar-dark bg-dark box-shadow">
            <div class="container d-flex justify-content-between">

                <a href="/" class="navbar-brand d-flex align-items-center">
                    <i class="fas fa-user mr-2"></i>
                    {{ user.full_name }}
                </a>

                <nav>
                    {% if user.time_log.status == 'active' %}
                        <span class="text-success">started at </span><span
                            class="text-white-50">{{ user.time_log.started }}</span>
                    {% elseif user.time_log.status == 'idle' %}
                        <span class="text-warning">finished at  </span><span
                            class="text-white-50">{{ user.time_log.finished }}</span>
                    {% endif %}
                </nav>

                <div class="btn-group" role="group">
                    {% if user.time_log.status == 'idle' or user.time_log is empty %}
                        <button id="start-button" type="button" class="btn btn-dark" title="Start time logging"><i
                                    class="fas fa-play"></i></button>
                    {% elseif user.time_log.status == 'active' %}
                        <button id="stop-button" type="button" class="btn btn-dark" title="Stop time logging"><i
                                    class="fas fa-stop"></i></button>
                    {% endif %}
                    <button id="log-out" type="button" class="btn btn-dark" title="Log out"><i
                                class="fas fa-sign-out-alt fa-lg"></i></button>
                </div>
            </div>
        </div>
    </header>

    <div class="container mt-4">
        <div class="card-deck">

            <div class="col-4 p-0">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0">Group members</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-sm table-borderless mb-0">
                            <tbody>
                            {% for groupMember in group %}
                                <tr>
                                    <td class="pl-0">{{ groupMember.full_name }}</td>
                                    <td class="pr-0 text-right">
                                        {% if groupMember.time_log.status == 'active' %}
                                            <i class="fas fa-circle text-success" title="IN"></i>
                                        {% else %}
                                            <i class="fas fa-circle text-warning" title="OUT"></i>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-4 p-0">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0">Working hours report</h4>
                    </div>
                    <div class="card-body pt-0">

                        <div class="col-12 mb-3 pl-0 pr-0">
                            {% if hourReports|length > 1 %}
                                <label for="group-hours" class="mt-3">Select group member</label>
                                <select class="custom-select d-block w-100" id="group-hours">
                                    <option value=""></option>
                                    {% for key, userData in hourReports %}
                                        <option value="{{ key }}">{{ key }}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}
                            <label for="month" class="mt-3 d-none">Select Month</label>
                            <select class="custom-select d-none w-100" id="month">
                                <option value=""></option>
                            </select>
                        </div>

                        <table id="month-hours-table" class="table d-none">
                            <thead>
                            <tr>
                                <th>Day</th>
                                <th>Time</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script>

        function generateMonthSelect(data) {
            let select = $('#month');
            $('#month-hours-table').removeClass('d-table');
            $('#month-hours-table').addClass('d-none');
            $('label[for=month]').addClass('d-none');
            select.removeClass('d-block');
            select.addClass('d-none');
            if ($('#group-hours').val() === '') {
                return;
            }

            select.removeClass('d-none');
            select.addClass('d-block');
            select.empty();
            select.append('<option value=""></option>');
            $('label[for=month]').removeClass('d-none');

            for (const [key, value] of Object.entries(data)) {
                select.append('<option value="' + key + '">' + key + '</option>');
            }
        }

        function generateMonthTbody(data) {
            $('#month-hours-table').removeClass('d-table');
            $('#month-hours-table').addClass('d-none');
            if ($('#month').val() === '') {
                return;
            }

            $('#month-hours-table').removeClass('d-none');
            $('#month-hours-table').addClass('d-table');
            $('#month-hours-table tbody').empty();
            for (const [key, value] of Object.entries(data['days'])) {
                $('#month-hours-table tbody').append('<tr><td>' + key + '</td><td>' + value + '</td></tr>');
            }
            $('#month-hours-table tbody').append('<tr><td class="font-weight-bold">Total: </td><td class="font-weight-bold">' + data['total'] + ' hours</td></tr>');
        }

        $(function () {

            let hours = {{ hourReports|json_encode|raw }};
            let currentMonth = {{ currentMonth|json_encode|raw }};
            let fullName = {{ user.full_name|json_encode|raw }};

            if (currentMonth !== '') {
                generateMonthSelect(hours[fullName]);
            }

            $('#start-button').click(function () {
                $.ajax({
                    type: "POST",
                    url: "/start-logging",
                    data: "",
                    success: function (data) {
                        let response = JSON.parse(data);
                        if (response.success && response.redirect) {
                            alertSuccessAndRedirect(response.message, response.redirect)
                        }
                    }
                });
            })

            $('#stop-button').click(function () {
                $.ajax({
                    type: "POST",
                    url: "/stop-logging",
                    data: "",
                    success: function (data) {
                        let response = JSON.parse(data);
                        if (response.success && response.redirect) {
                            alertify.alert(response.message);
                            $('.ajs-content').addClass('bg-warning');
                            window.setTimeout(function () {
                                window.location.replace(response.redirect);
                            }, 1500);
                        }
                    }
                });
            });

            $('#log-out').click(function () {
                window.location.replace('/sign-out');
            })

            $('#group-hours').change(function () {
                let data = hours[$(this).val()]
                generateMonthSelect(data);
            });

            $('#month').change(function () {
                if (currentMonth !== '') {
                    generateMonthTbody(hours[fullName][$(this).val()]);
                } else {
                    generateMonthTbody(hours[$('#group-hours').val()][$(this).val()]);
                }
            });
        });

    </script>

{% endblock %}